*.iml
*.swp
.idea

.DS_Store
*.a
*.o
*.log

bin
target
store-log-capture.out

./log

cmake-build-*/
buildenv*/
build/
runenv/
.vscode/

src/common/LogRecord.h

*.pb.*
src/sqlparser/docs
src/sqlparser/test
src/sqlparser/src/parser/bison_parser.h
src/sqlparser/src/parser/bison_parser.cpp
src/sqlparser/src/parser/flex_lexer.h
src/sqlparser/src/parser/flex_lexer.cpp

clang-tidy-output.txt

packenv/
